@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #fff;
}

body {
  color: var(--foreground-rgb);
}

.dark {
  --foreground: #fff;
  --background: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}