@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
}

:root {
  --foreground: #000;
  --background: #fff;

  --border-color: #e2e8f0;
  --impact-color: #f97316;

  --text-color: #333333;
  --text-secondary-color: #666666;
}

.dark {
  --foreground: #fff;
  --background: #222;

  --secondary: hsl(217.2 32.6% 17.5%);
  --secondary-foreground: var(--white);

  --border-color: #2d3748;
  --impact-color: #fb923c;

  --text-color: #E5E5E5;
  --text-secondary-color: #B0B0B0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .toc-position {
    left: calc(50% + 400px);
  }
  @media screen and (min-width:1500px) {
    .toc-position {
      left: calc(50% + 500px);
    }
  }
  .impact-color {
    color: var(--impact-color);
  }
  .bg-impact-color {
    background-color: var(--impact-color);
  }
  .border-impact-color {
    border-color: var(--impact-color);
  }
}

.border-main {
  border-color: var(--border-color);
}

.text-main {
  color: var(--text-color);
}

.text-sub {
  color: var(--text-secondary-color);
}

.text-active {
  color: var(--impact-color);
}