@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #fff;
}

body {
  color: var(--foreground);
}

.dark {
  --foreground: #fff;
  --background: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h2 {
  font-size: 20px;
  font-weight: 700;
}
h3{
  font-size: 18px;
  font-weight: 600;
}

@layer utilities {
  .toc-position {
    left: calc(50% + 376px);
  }
}