/* ========== Typography (prose) customizations ========== */

.prose h3 {
  margin-top: 2.25rem;
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  color: var(--text-color);
}

.prose p {
  margin: 0.5rem 0;
  color: var(--text-secondary-color);
}

.prose code {
  counter-reset: line;
}

.prose img {
  border-radius: 0.75rem;
  max-height: 600px;
  margin: 0 auto;
}

.prose :where(strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--text-color);
}

.prose code::before {
  content: none;
}

.prose code::after {
  content: none;
}

.prose :where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  color: var(--text-color);
  font-size: 2rem;
}

.prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  text-decoration: none;
  position: relative;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)):hover {
  color: var(--quaternary-color);
  border-bottom: 1px solid var(--quaternary-color);
}

.prose :where(pre code span):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-family: monospace;
}

.prose :where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  border: none;
  padding: 0.25rem 1rem;
  font-style: normal;
  background-color: var(--border-color);
  border-radius: 0.5rem;
}

.prose code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1.5rem;
  text-align: right;
  color: grey;
  font-size: 0.75rem;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 2rem;
}

.prose pre {
  font-family: ui-monospace;
  padding-right: 0;
  padding-left: 0;
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
  border: 1px solid var(--gray4);
}

.prose pre > code > span {
  padding-left: 1rem;
  padding-right: 1rem;
}

.prose pre code span {
  color: var(--shiki-light);
}

.dark .prose pre code span {
  color: var(--shiki-dark);
}

[data-highlighted-line] {
  background-color: rgba(249, 209, 130, 0.3);
}

.prose figcaption[data-rehype-pretty-code-title] {
  padding: 0.5rem 1rem;
  margin: 0 2rem 0 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: var(--background);
  border: 1px solid var(--gray4);
  border-bottom: none;
  border-radius: 0.5rem 0.5rem 0 0;
}

@media (max-width: 1024px) {
  .prose figcaption[data-rehype-pretty-code-title] {
    margin: 0;
  }
}

.prose figcaption[data-rehype-pretty-code-title] + div pre {
  margin-top: 0;
  border-radius: 0 0 0.5rem 0.5rem;
}

:not(pre) > code {
  font-weight: 600;
  position: relative;
  bottom: 1px;
  margin: 0 2px;
  color: var(--text-color);
  background-color: var(--gray5);
  padding: 0.2rem 0.4rem;
  overflow-wrap: break-word;
  border-radius: 4px;
}

.prose :where(figure):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin: 0.5rem 0;
}

.prose u {
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  font-weight: 600;
}

.prose li {
  color: var(--text-color)
}

.prose :where(ul):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0rem;
}

.prose :where(ul > li):not(:where([class~="not-prose"], [class~="not-prose"] *))::marker {
  color: var(--second-color);
}

.prose :where(hr):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  border: 1px solid var(--gray5);
}